body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}
#count {
    font-size: 4rem;
    color: green;
    display: block;
    margin: 20px 0;


}


h1 {
    font-size: 3rem;
}


.button button {
    padding: 10px 20px;
    font-size: 1.2rem;
    margin: 5px;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;



}








.button button:hover {
    background: white;
    color: black;
}
